*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dropdown{
    position: relative;
    display: inline-block;
    &__button{
        padding:1rem 3rem;
        font-size: 1rem;
        margin: 0.5rem;
    }
    &__content{
        display:none;
    }
}

