@use './partials/_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../assets/images/sunrise.jpg);
    background-position: center;
    background-repeat: no-repeat;
    // height:100vh;
    background-size: cover;
   
}

.dropdown{
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    font-weight: 300;
    &__button{
        width: 15.625rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        opacity: 70%;
        border-radius: .6rem;
        border: 0;
        display:flex;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: space-around;
        align-items: center;
    }
    &__arrow{
        width: 3.125rem;
    }
    &__content{
        display:none;
    }
}

.weather{
    width:100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card{
        background-color: white;
        width: 20rem;
        height:25rem;
        border-radius: .6rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity:65%;
    }
    
    .card{
        text-align: center;
        &__temp{
            font-size: 5rem;
            margin-top: 2rem;
            margin-bottom: 0;
            font-weight: 300;
            margin-left: 2rem;

            span{
                font-size: 2rem;
                margin-left: -1rem;
            }
        }

        &__icon{
            margin: -1rem auto 0 auto;

        }

        &__status{
            margin-top : -1rem;
            font-weight: 300;
        }
    }

    .card-sec{
        display: flex;
        margin-top: 2.5rem;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        &__feels{
            border-right: 1px solid grey;
            padding-right: 3.2rem;
        }

        &__head{
            font-size: 2rem;
            font-weight: 300;
        }

        &__temp{
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 400;

        }

    }
}

// .weather--active{
//     width:100%;
//     height: 30rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &__card--active{
//         background-color: white;
//         width: 30rem;
//         height:25rem;
//         border-radius: .6rem;
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//         opacity:65%;
//     }

// }

.week{
    background-color: white;
    opacity: 65%;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 3rem auto 4rem auto;
    border-radius: 0.6rem;
    padding: 2rem 0;

    &-day{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__head{

        }

        &__icon{

        }

        &__temp{
            font-size: 1.5rem;
        }
    }
}